<?xml version="1.0" encoding="UTF-8"?>												
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">												
<plist version="1.0">												
<dict>												
	<key>2</key>											
	<string>每日轻松抢红包赚钱，一大波现金来袭！</string>											
	<key>3</key>											
	<string>完成福气满满红包卡每日任务，拿额外奖励！</string>											
	<key>4</key>											
	<string>即将解锁真心告白红包卡，请努力升级哦~</string>											
	<key>5</key>											
	<string>红包卡可以提前解锁，去红包卡界面看看吧~</string>											
	<key>6</key>											
	<string>完成真心告白红包卡每日任务，拿额外奖励</string>											
	<key>7</key>											
	<string>攒钱太慢，可以抢好友红包获得更多现金哦~</string>											
	<key>8</key>											
	<string>每日任务奖励大量经验，记得要全部完成哦~</string>											
	<key>9</key>											
	<string>即将解锁新奇有趣红包卡，请努力升级哦~</string>											
	<key>10</key>											
	<string>好友太少，可以在联系人界面加更多好友！</string>											
	<key>11</key>											
	<string>完成新奇有趣红包卡每日任务，拿额外奖励！</string>											
	<key>12</key>											
	<string>获得好友赐福，享额外加成，快去向好友求福吧！</string>											
	<key>13</key>											
	<string>升级红包卡，收抢红包可以获得更多经验！</string>											
	<key>14</key>											
	<string>活跃度宝箱含有大量奖励，别忘记领取。</string>											
	<key>15</key>											
	<string>朋友越多红包越多，快去交些新朋友吧！</string>											
	<key>16</key>											
	<string>VIP尊享每日钻石礼包福利，还有其他尊贵特权！</string>											
	<key>17</key>											
	<string>转盘奖励超多经验，快去试试吧！</string>											
	<key>18</key>											
	<string>商城热卖，特惠礼包，你想要的全都有！</string>											
	<key>19</key>											
	<string>即将解锁点赞狂魔红包卡，请努力升级哦~</string>											
	<key>20</key>											
	<string>提前结束转盘，剩余的奖励依然会送进您的背包！</string>											
	<key>21</key>											
	<string>完成点赞狂魔红包卡每日任务，拿额外奖励！</string>											
	<key>22</key>											
	<string>升级红包卡可产出更多金币、现金和经验！</string>											
	<key>23</key>											
	<string>VIP可享现金红包掉率加成特权，快来体验吧！</string>											
	<key>24</key>											
	<string>获得好友赐福，金币额外提升，现金高额加成！</string>											
	<key>25</key>											
	<string>完成成就任务，免费拿钻石奖励！</string>											
	<key>26</key>											
	<string>钻石、金币、高额经验，尽在蓝券转盘！</string>											
	<key>27</key>											
	<string>打开新的朋友界面，添加更多共同好友！</string>											
	<key>28</key>											
	<string>等级成长任务奖励大量钻石，要努力升级哦~</string>											
	<key>29</key>											
	<string>即将解锁精彩神评红包卡,请努力升级哦~</string>											
	<key>30</key>											
	<string>完成升级红包卡，可获得高额金币和钻石奖励！</string>											
	<key>31</key>											
	<string>完成精彩神评红包卡每日任务，拿额外奖励！</string>											
	<key>32</key>											
	<string>成就任务奖励钻石和大量经验，要努力完成哦~</string>											
	<key>33</key>											
	<string>幸运转盘钻石金币经验多，等你来试试手气！</string>											
	<key>34</key>											
	<string>连续登录可以领取大量现金奖励，要天天来领哦~</string>											
	<key>35</key>											
	<string>活跃度宝箱含有大量经验，助您快速升级！</string>											
	<key>36</key>											
	<string>商城精选礼包，享八折优惠，心动不如行动！</string>											
	<key>37</key>											
	<string>想要红包多就去加好友，赶快去添加吧！</string>											
	<key>38</key>											
	<string>同好友互相赐福，互享高额奖励加成！</string>											
	<key>39</key>											
	<string>即将解锁转发分享红包卡，请努力升级哦！</string>											
	<key>40</key>											
	<string>收抢红包轻松完成日常任务，记得领奖励哦~</string>											
	<key>41</key>											
	<string>完成转发分享红包卡每日任务，拿额外奖励！</string>											
	<key>42</key>											
	<string>日常任务轻松简单，完成即可领取奖励！</string>											
	<key>43</key>											
	<string>VIP可享更多好友、更多红包~</string>											
	<key>44</key>											
	<string>要快速升级记得升级红包卡！</string>											
	<key>45</key>											
	<string>金币可以参与幸运转盘哦，每次必定中奖！</string>											
	<key>46</key>											
	<string>金币不够用？商城有售金币箱。</string>											
	<key>47</key>											
	<string>别忘了去联系人界面看看是否有新朋友在等你！</string>											
	<key>48</key>											
	<string>连续登录可以领取现金奖励不要错过了~</string>											
	<key>49</key>											
	<string>即将解锁美好瞬间红包卡，请努力升级哦~</string>											
	<key>50</key>											
	<string>可以提前解锁红包卡，去红包卡详情看看吧~</string>											
	<key>51</key>											
	<string>完成美好瞬间红包卡每日任务，拿额外奖励！</string>											
	<key>52</key>											
	<string>获得赐福有收益加成哦，今天你求福了吗？</string>											
	<key>53</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>54</key>											
	<string>任务完成后不要忘记领取任务奖励~</string>											
	<key>55</key>											
	<string>幸运转盘挑战100连开试试你的手气如何！</string>											
	<key>56</key>											
	<string>完成日常任务能够帮助你更快提升等级哦！</string>											
	<key>57</key>											
	<string>攒钱太慢，可以抢好友红包获得更多现金哦！</string>											
	<key>58</key>											
	<string>使用道具可以大大提升获得金币和现金哦！</string>											
	<key>59</key>											
	<string>即将解锁新奇有趣红包卡，请努力升级哦~</string>											
	<key>60</key>											
	<string>卖萌打滚求赐福，天天金币、现金高加成！</string>											
	<key>61</key>											
	<string>完成新奇有趣红包卡每日任务，拿额外奖励！</string>											
	<key>62</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>63</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>64</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>65</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>66</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>67</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>68</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>69</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>70</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>71</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>72</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>73</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>74</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>75</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>76</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>77</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>78</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>79</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>80</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>81</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>82</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>83</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>84</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>85</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>86</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>87</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>88</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>89</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>90</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>91</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>92</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>93</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>94</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>95</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
	<key>96</key>											
	<string>每日任务奖励大量经验，帮助你更快提升等级哦！</string>											
	<key>97</key>											
	<string>红包卡升级会产出更多经验，快去试试吧！</string>											
	<key>98</key>											
	<string>幸运转盘奖励经验多多，快去试试吧！</string>											
	<key>99</key>											
	<string>活跃度宝箱含有大量经验，别忘记领取。</string>											
	<key>100</key>											
	<string>想要升级快，VIP经验获得加成特权等您开通！</string>											
</dict>												
</plist>												